* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--calculator-bg: #111;
	--btn-color-1: #eee;
	--btn-color-2: #0cf;
	--btn-color-3: #3f3;
}

html {
	font-family: "Sometype Mono", "Courier New", monospace;
	font-size: 32px;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	font-size: 1rem;
	padding: 16px 0;
	font-family: inherit;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

button:active {
	filter: brightness(150%);
}

#calculator {
	background-color: var(--calculator-bg);
	padding: 20px;
	border-radius: 8px;
	width: 500px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 8px;
}

/* text field styling */
#text-field {
	min-height: 120px;
	grid-column: 1 / 5;
	background-color: var(--btn-color-1);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 16px;
}

#small-text {
	font-size: 0.75rem;
}

#big-text {
	font-size: 1.25rem;
	text-align: right;
	word-break: break-all;
}

/* wide btns */
#clear-btn, #zero-btn {
	grid-column: 1 / 3;
}

/* button style 1 */
.number-btn {
	background-color: var(--btn-color-1);
	color: var(--calculator-bg);
}

/* button style 2 */
#clear-btn, #negative-btn {
	background-color: var(--btn-color-2);
	color: var(--btn-color-1);
}

/* button style 3 */
.operator-btn, #equal-btn {
	background-color: var(--btn-color-3);
	color: var(--btn-color-1);
}
