* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	font-size: 2rem;
	padding: 16px 0;
}

/* main grid layout */
#btn-grid {
	width: 720px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

/* wide btns */
#clear-btn, #zero-btn {
	grid-column: 1 / 3;
}
